.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
}

.footer-section {
    display: flex;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    background-color: #f8f9fa;
    opacity: 0.8;
    max-width: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 30px;
    font-style: italic;
}

.footer-section h4 {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.footer-section p {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
    padding-bottom: 3px;
}

.footer-section sup {
    font-size: 0.8em;
    color: black;
    text-align: left;
}

.footer-section img {
    margin-right: 5px;
    margin-top: 2px;
    padding-top: 4px;
}