/* --- BOUTON HAMBURGER --- */
.hamburger {
  position: relative;
  width: 20px;
  height: 15px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 5px 0;
  transition: opacity 0.3s;
}

/* MASQUER LE HAMBURGER QUAND LE MENU EST OUVERT */
.hamburger.active {
  opacity: 0;
  pointer-events: none;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #333;
  border-radius: 3px;
}

/* --- OVERLAY (PLEIN ÉCRAN) --- */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 1004;
}

/* --- MENU DÉROULANT --- */
.hamburger-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Caché */
  width: 150px;  /* Largeur réduite */
  height: 100%;
  z-index: 1005;
  transition: left 0.5s ease;
}

.hamburger-menu.open {
  left: 0;
}

/* --- CONTENU --- */
.menu-content {
  background: white;
  width: 100%;
  height: auto;
  min-height: 200px;
  padding: 15px 10px;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* LE BOUTON X (Fermeture) */
.menu-close {
  position: absolute;
  top: 0;
  right: -10px;
  background: none;
  border: none;
  font-size: 24px; 
  font-weight: bold;
  cursor: pointer;
  color: #333;
  z-index: 1006;
  line-height: 16px;
}

.menu-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #000;
  font-size: 14px;
  font-style: italic;
}

/* --- LISTE ET LIENS --- */
.menu-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.menu-content li {
  width: 100%; 
  border: 1px solid #6d6767;
  margin-bottom: 5px;
  box-sizing: border-box;
}

.menu-content a {
  display: block;
  padding: 2px;
  color: #333;
  text-decoration: none;
  font-size: 12px; 
  transition: all 0.2s;
}

.menu-content a:hover {
  background: #dedee8;
  color: #041976;
  transform: scale(1.05);
}
