nav {
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline;
    font-size: 1.2rem;
    border: 1px solid #6d6767;
    transition: all 0.2s;
    padding: .5rem 1rem;
    border-radius: 10px;
    background: #f8f9fa;
}

nav li:hover {
    text-decoration: none;
    background: #dedee8;
    transform: scale(1.1);
}

nav a {
    text-decoration: none;
    color: #041976;
}